.vscode/**
.vscode-test/**
out/test/**
webviews/**
images/**
src/**
.gitignore
.yarnrc
.prettierignore
.prettierc
rollup.config.js
TODO.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.vsix
